*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #a953c2;
  --light-purple: #eab8ff;
  --dark-yellow: #fffb00;
  --light-yellow: #fdf8b4;
  --dark-blue: #2e1a47;
  --dark-blue-rgb: 46, 26, 71;
  /* Dodane */
  --my-gray: #efefef;
}



html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

}


.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}



/* Navbar */

.navbar {
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
  /* background: linear-gradient(to bottom,
      rgba(169, 83, 194, 0.9),
      rgba(169, 83, 194, 0.9)); */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;

  opacity: 1;
}
.activenow-table-container{
  background-color: var(--light-purple);
}
.navbar img {
  width: 150px;
  height: 150px;
  margin-right: 1rem;
  cursor: pointer;
}

.navbar a {
  color: white;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a.link {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.navbar a.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--dark-yellow);
  transition: width 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--dark-yellow);
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a i {
  font-size: 1.5rem;
  /* Adjust icon size */
  color: #fff;
  /* Initial color for icons */
  transition: color 0.3s ease-in-out;
}

.logo {
  width: 200px;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

.navbar a:hover i {
  color: var(--dark-yellow);
  /* Icon changes color on hover */
  transform: scale(1.1);
}

.navbar.navbar-scrolled {
  background-color: rgba(46, 26, 71, 0.9);
  /* Bardziej widoczny kolor */
  z-index: 10000000;
}

/* Mobile Menu */

.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar .mobile-menu-toggle i {
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-toggle i.fa-times {
  transform: rotate(180deg);
}

/* Hero Section */


.hero-container {
  padding: 0;
}

.row-hero {
  min-height: 87vh;
  position: relative;
  padding: 2rem;
}


.carousel {
  height: 100%;
}



.carousel-image {
  width: auto;
  height: 100%;
  background: transparent;
  object-fit: cover;
  /* Zapewnia, że obraz wypełnia cały obszar bez zniekształceń */
  filter: drop-shadow(4px 2px 10px rgba(0, 0, 0, 0.9));
  /* Cień */
}


.carousel-image.carousel-kreatywnosc {
  width: auto;
  height: 150%;
  object-fit: cover;
}




.carousel-fade .active {
  opacity: 1;
}



/* Tekst hero sekcji */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  
  /* Obramowanie */
  z-index: 2;
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 5rem;
  font-weight: 700;
  color: var(--dark-purple);
  /* Wypełnienie */
  -webkit-text-stroke: 3px black;
}

.hero-text p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: 400;
}

/* Nawigacyjne Strzałki (po obu stronach ekranu) */
.carousel-control-prev-custom,
.carousel-control-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 5;
  border-radius: 50%;
}

.carousel-control-prev-custom,
.carousel-control-next-custom:hover {
  color: rgba(0, 0, 0, 0.4);
}

.carousel-control-prev-custom {
  left: 20px;
}

.carousel-control-next-custom {
  right: 20px;
}


.carousel-control-prev-custom .bi-chevron-left,
.carousel-control-next-custom .bi-chevron-right {
  font-size: 2rem;
}

/* Indykatory karuzeli */
.carousel-indicators-custom {
  position: relative;
  /* Opcjonalnie: Możesz dodać margines lub inne style */
}

.carousel-indicators-custom button {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}

.carousel-indicators-custom button.active {
  background-color: rgba(255, 255, 255, 1);
}

.slide-in-right {
  animation: slideInRight 0.7s forwards;
}

.fade-out {
  animation: fadeOut 0.7s forwards;
}

/* Animacja Fade dla tekstu - Fade In */
.fade-in {
  animation: fadeIn 0.7s forwards;
}



.carousel-item {
  margin-top: 100px;
  display: block;
  /* Aby wymusić widoczność, nawet dla nieaktywnych slajdów */
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev {
  display: block;
  /* Widoczność aktywnego slajdu */
  opacity: 1;
  /* Fade-in dla aktywnego slajdu */
  transition: opacity 0.5s ease;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item:not(.active) {
  opacity: 0;
  /* Fade-out dla slajdów, które opuszczają widok */
  transition: opacity 0.5s ease;
}




@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
    /* Tekst zaczyna się z prawej strony */
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Style dla blobów pozostają bez zmian */
.blob1,
.blob2,
.blob3,
.blob4 {
  position: absolute;
  z-index: 1;
}

.blob1 {
  top: -20px;
  left: -50px;
  width: 300px;
}

.blob2 {
  width: 400px;
  top: 87px;
  right: -50px;
}

.blob3 {
  width: 700px;
  bottom: 70px;
  left: -150px;
}

.blob4 {
  width: 735px;
  top: 320px;
  right: -100px;
  margin-left: 20px;
}

svg {
  width: 100%;
  height: auto;
}





.wave-container {
  height: 11vh;
  background-color: #2e1a47;
  position: relative;
}

.wave-container::before {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 49vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  128' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 94L50 88C100 82 200 71 300 48C400 25 500 -10 600 2C700 13 800 71 900 94C1000 117 1100 105 1150 100L1200 94V129H1150C1100 129 1000 129 900 129C800 129 700 129 600 129C500 129 400 129 300 129C200 129 100 129 50 129H0V94Z' fill='%23FFF'/></svg>");
}

@media (max-width: 850px) {
  .wave-container::before {
    height: 51px;
  }
}

/* Oferta - Cards */
.cards {
  background-color: #F0F0F0;
}


.stain {
  position: absolute;
  width: 150px;
  height: 150px;
  /* Ustawia kolor plamy */
  mask: url('../assets/stain.svg') no-repeat center / contain;
  -webkit-mask: url('../assets/stain.svg') no-repeat center / contain;
  /* Dla przeglądarek WebKit */
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  /* Dodany cień */
  z-index: 1000000;
}


.card-row {
  padding-top: 60px;
  background-color: var(--my-gray);
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}




.card {
  width: calc(33.333% - 20px);
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  /* Dodano */
  flex-direction: column;
  /* Dodano */
}

.card-image {
  position: relative;
  height: 300px;
  /* Ustawiona stała wysokość */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Zapewnia odpowiednie skalowanie obrazka */
}

.card-content {
  padding: 20px;
  background-color: #fff;
  flex-grow: 1;
  /* Pozwala na równomierne rozłożenie treści */
  position: relative;
  /* Dla pozycjonowania przycisku */
}

.card-content h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card-content p {
  margin: 10px 0 50px 0px;
  color: #666;
}

.overlay .close-overlay {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
}

.learn-more {
  background-color: var(--dark-blue);
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  position: absolute;
  /* Pozycjonowanie przycisku */
  bottom: 15px;
  right: 15px;
}

.learn-more:hover {
  background-color: var(--dark-purple);
}

.actions {
  background-color: var(--dark-purple);
  color: var(--dark-yellow);
  font-size: 1.5em;
  font-weight: 500;
}

.actions i {
  font-size: 1.5em;
}

.actions h5 {
  margin-top: 10px;
}


.content {
  z-index: 10;
  /* Ustawiamy warstwę dla treści, aby była nad falami */
  position: relative;
}

.icon img {
  width: 60px;
  /* Dopasuj rozmiar ikonek */
  height: 60px;
}

.icon p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  /* Kolor tekstu */
}


/* Karuzela Opinie */

.review-carousel {
  display: flex;
  margin: 20px auto;
  max-width: 1200px;
}

.review-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

.review-item .stars {
  color: #ffb400;
  font-size: 16px;
  margin-bottom: 10px;
}

.review-item p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.5;
}

.review-item .author {
  font-weight: bold;
  color: #555;
}

.slick-slide {
  opacity: 1 !important;
}

.slick-track {
  display: flex !important;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-menu-items {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
}

@media (max-width: 576px) {}