*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #a953c2;
  --light-purple: #eab8ff;
  --dark-yellow: #fffb00;
  --light-yellow: #fdf8b4;
  --dark-blue: #2e1a47;
  --dark-blue-rgb: 46, 26, 71; /* Dodane */
  --my-gray: #f0f0f0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  
}

.row {
  width: 100%;
  position: relative;
  overflow: hidden;

}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}

/* Navbar */

.navbar {
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(169, 83, 194, 0.9),
    rgba(169, 83, 194, 0)
  );
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;

  opacity: 1;
}

.navbar img {
  width: 150px;
  height: 55px;
  margin-right: 1rem;
  cursor: pointer;
}

.navbar a {
  color: white;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a.link {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.navbar a.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--dark-yellow);
  transition: width 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--dark-yellow);
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a i {
  font-size: 1.5rem; /* Adjust icon size */
  color: #fff; /* Initial color for icons */
  transition: color 0.3s ease-in-out;
}

.logo {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

.navbar a:hover i {
  color: var(--dark-yellow); /* Icon changes color on hover */
}

.navbar.navbar-scrolled {
  background-color: rgba(46, 26, 71, 0.9); /* Bardziej widoczny kolor */
  z-index: 10000000;
}

/* Mobile Menu */

.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar .mobile-menu-toggle i {
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-toggle i.fa-times {
  transform: rotate(180deg);
}

/* Hero Section */
.row-hero {
  position: relative;
  padding-top: 130px;
  padding-bottom: 100px;
  background: var(dark);
  background: linear-gradient(
    0deg,
    var(--dark-blue) 0%,
    var(--dark-purple) 100%
  );

}

.blob1,
.blob2,
.blob3,
.blob4{
  position: absolute;
  z-index: 1;
}

.blob1 {
  top: -20px; /* Dostosuj wartość, aby uzyskać pożądany efekt */
  left: -50px;
  width: 300px; /* Możesz dostosować rozmiar */
}

.blob2{
  width: 300px;
  top: 200px;
  right: 120px;
}

.blob3{
  width: 735px;
  top: 200px;
  left: -100px;
}

.blob4{
  width: 735px;
  top: 400px;
  right: -100px;
  margin-left: 20px;
}





svg{
  width: 100%;
  height: auto;
}




.hero-section {
  border-radius: 25px;
  display: flex;
  align-items: stretch;
  min-height: 600px;
  box-shadow: 20px 20px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1500;

}

.hero-text {
  border-radius: 25px 0px 0px 25px;
  flex: 1;
  padding: 2rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  background-color: #fff;
  z-index: 1000;
}

.hero-text h1 {
  font-weight: 400;
  font-size: 3rem;
}

.hero-text p {
  margin: 0rem 0;
}

.hero-carousel {
  border-radius: 0px 25px 25px 0px;
  flex: 1;
  position: relative;
  overflow: hidden;
}


.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(100%);
  opacity: 0;
}

.carousel-slide.active {
  transform: translateX(0);
  opacity: 1;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  background: transparent;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-indicators .indicator {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
  background-color: rgba(255, 255, 255, 1);
}

.wave-container {
  height: 11vh;
  background-color: #2e1a47;
  position: relative;
}

.wave-container::before {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 49vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  128' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 94L50 88C100 82 200 71 300 48C400 25 500 -10 600 2C700 13 800 71 900 94C1000 117 1100 105 1150 100L1200 94V129H1150C1100 129 1000 129 900 129C800 129 700 129 600 129C500 129 400 129 300 129C200 129 100 129 50 129H0V94Z' fill='%23ffffff'/></svg>");
}

@media (max-width: 850px) {
  .wave-container::before {
    height: 51px;
  }
}

/* Oferta - Cards */

.stain {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #a953c2; /* Ustawia kolor plamy */
  mask: url('../assets/stain.svg') no-repeat center / contain;
  -webkit-mask: url('../assets/stain.svg') no-repeat center / contain; /* Dla przeglądarek WebKit */
}

.stain-1 {
  left: 10px;
  top: 50px;
  z-index: 1000000;
}

.stain-2 {
  left: 300px;
  top: 150px;
  background-color: #2e1a47; /* Inny kolor plamy */
}


.card-row {
  margin-top: 100px;
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.card {
  position: relative;
  width: calc(33.333% - 20px);
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex; /* Dodano */
  flex-direction: column; /* Dodano */
}

.card-image {
  position: relative;
  height: 300px; /* Ustawiona stała wysokość */
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zapewnia odpowiednie skalowanie obrazka */
}

.card-content {
  padding: 20px;
  background-color: #fff;
  flex-grow: 1; /* Pozwala na równomierne rozłożenie treści */
  position: relative; /* Dla pozycjonowania przycisku */
}

.card-content h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card-content p {
  margin: 10px 0 50px 0px;
  color: #666;
}

.overlay .close-overlay {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
}

.learn-more {
  background-color: var(--dark-blue);
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  position: absolute; /* Pozycjonowanie przycisku */
  bottom: 15px;
  right: 15px;
}

.learn-more:hover {
  background-color: var(--dark-purple);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.overlay .text {
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.overlay h3 {
  margin-top: 0;
}

.card.show-overlay .overlay {
  opacity: 1;
  visibility: visible;
}

/* Karuzela Opinie */

.review-carousel {
  margin: 20px auto;
  max-width: 1200px;
  overflow: hidden;
}

.review-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

.review-item .stars {
  color: #ffb400;
  font-size: 16px;
  margin-bottom: 10px;
}

.review-item p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.5;
}

.review-item .author {
  font-weight: bold;
  color: #555;
}

.slick-slide {
  opacity: 1 !important;
}

.slick-track {
  display: flex !important;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .main-menu-items {
    display: none;
  }
  .navbar .mobile-menu {
    display: block;
  }
  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
}
@media (max-width: 576px) {
}
